body{
	padding: 0;
	margin: 0;
}

.navbar{
	background:#F97300;
}
.nav-link , .navbar-brand{
	color: #f4f4f4;
	cursor: pointer;
}
.nav-link{
	margin-right: 1em !important;
}
.nav-link:hover{
	background: #f4f4f4;
	color: #f97300;

}
.navbar-collapse{
 justify-content: flex-end;
}